{% extends 'base_mobile.html' %}

{% block content %}
{% load i18n %}
<style>
    .recommendations {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        overflow: hidden;
        align-items: flex-start;
        font-family: Poppins, sans-serif;
        color: #fff;
        padding: 0 15px;
    }

    .recommendations__title {
        font-weight: 300;
        font-size: 28px;
        margin-top: -195px;
        margin-bottom: 160px;
        text-align: center;
    }

    .recommendations__list {
        align-self: stretch;
        display: flex;
        margin-top: 30px;
        width: 100%;
        padding-left: 20px;
        flex-direction: column;
        align-items: flex-start;
        font: 500 16px/1.4 Roboto, sans-serif;
    }

    .recommendations__item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 15px;
        width: 100%;
    }

    .recommendations__bullet {
        background-color: #fff;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        flex-shrink: 0;
    }

    .recommendations__text {
        font-size: 14px;
        line-height: 1.4;
        word-break: break-word;
        white-space: normal;
        padding-right: 15px; /* Added padding for right side */
        max-width: calc(100% - 35px); /* Ensures text stays within container, accounting for padding and bullet */
    }

    /* Mobile adjustments */
    @media (max-width: 991px) {
        .recommendations {
            padding: 0 10px;
        }

        .recommendations__list {
            padding-left: 10px;
            margin-top: 20px;
        }

        .recommendations__item {
            gap: 10px;
        }
    }
</style>


<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<h2 class="recommendations__title">Maslahatlar</h2>
<section class="recommendations">
    <ul class="recommendations__list">
        {% for item in advice %}
        <li class="recommendations__item">
            <span class="recommendations__bullet"></span>
            <p class="recommendations__text">{{ item.advice_text }}</p>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
