{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            window.location.href = '{% url "mobile_birja" %}';
        }
    });
</script>
<style>
    .exchange-section { display: flex; max-width: 547px; flex-direction: column; overflow: hidden; align-items: start; }
    .section-title { color: #fff; font: 700 40px Poppins, sans-serif; }
    .title-underline { border-radius: 5px; background-color: #fff; width: 177px; height: 5px; }
    .recommended-wrapper { display: flex; margin-top: 7px; gap: 6px; color: #fff; text-align: center; font: 400 30px Poppins, sans-serif; }
    .recommended-text { flex-grow: 1; }
    .recommended-icon { aspect-ratio: 1; object-fit: contain; object-position: center; width: 45px; }
    .exchange-list { align-self: stretch; display: flex; margin-top: 47px; width: 100%; padding-left: 44px; flex-direction: column; align-items: start; }
    .exchange-item { display: flex; gap: 12px; color: #fff; font: 500 35px Poppins, sans-serif; margin-bottom: 20px;}
    .exchange-logo { aspect-ratio: 1; object-fit: contain; object-position: center; width: 125px; max-width: 100%; }
    .exchange-name { flex-basis: auto; margin: auto 0; text-decoration: none; color: #fff;}
    .wrapper { display: flex; flex-direction: column; margin: auto 0; }
    .underline { background-color: #fff; height: 2px; }

    @media (max-width: 991px) {
      .section-title { max-width: 100%; }
      .recommended-wrapper { white-space: initial; }
      .exchange-list { max-width: 100%; padding-left: 20px; margin-top: 40px; }
      .exchange-item { white-space: initial; }
      .logo-column, .name-column { width: 100%; }
      .exchange-logo { margin-top: 12px; }
    }
</style>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

<section class="exchange-section">
    <h2 class="section-title">{% blocktrans %}Birjalar bilan ishlash{% endblocktrans %}</h2>
    <div class="title-underline"></div>
    <div class="recommended-wrapper">
        <span class="recommended-text">Recommended</span>
        <img src="{{ MEDIA_URL }}checked_logo.png"
             alt="" class="recommended-icon"/>
    </div>
    <div class="exchange-list">
        {% for item in birja %}
        <div class="exchange-item">
            <img src="{{ item.birja_photo.url }}" alt="logo" class="exchange-logo"/>
            <div class="wrapper">
                <a href="{{ item.birja_link }}" class="exchange-name">{{ item.birja_name }}</a>
                <div class="underline"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}