{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            window.location.href = '{% url "mobile_indicator_detail" id=indicator.id %}';
        }
    });
</script>

<h1>{{ indicator.title }}</h1>

<div class="indicator-detail">
    <img src="{{ indicator.indicator_photo.url }}" alt="{{ indicator.title }}" draggable="false"
         class="protected-image">
    <p>{{ indicator.indicator_text }}</p>
</div>

<a href="{% url 'indicators' %}" class="btn btn-primary"> {% blocktrans %}< Orqaga{% endblocktrans %}</a>

{% endblock %}

<style>
    img.protected-image {
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #FB8B5D;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 20px;
    }
</style>

<script>
    document.addEventListener('contextmenu', function(e) {
        if (e.target.tagName === 'IMG') {
            e.preventDefault();
        }
    }, false);
</script>
