{% extends 'base_mobile.html' %}

{% block content %}
{% load i18n %}

<h1 class="main-title">{% blocktrans %}Indikatorlar{% endblocktrans %}</h1>


<div class="indicator-detail">
    <img src="{{ indicator.indicator_photo.url }}" alt="{{ indicator.title }}" class="news-image"/>
    <p style="font-family: 'Roboto', sans-serif; font-weight: semi-bold; font-size: 20px;">{{ indicator.indicator_text }}</p>
</div>

<a href="{% url 'mobile_indicators' %}?page={{ page_number }}" class="btn btn-primary">{% blocktrans %} < Orqaga{% endblocktrans %}</a>


<style>
    .main-title {
          font-weight: 300;
          font-size: 28px;
          margin-top: -195px;
          margin-bottom: 200px;
          text-align: center;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #FB8B5D;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 20px;
    }

    .news-image {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        object-fit: fill;
        object-position: center;
    }
</style>

{% endblock %}