{% extends 'base.html' %}
{% block content %}
<h1>Indikatorlar</h1>


<form method="GET" action="{% url 'indicator_view' %}">
    <input type="text" name="q" placeholder="Search indicators..." value="{{ request.GET.q }}">
    <button type="submit">Search</button>
</form>

{% if indicators %}
<ul>
    {% for indicator in indicators %}
    <li>{{ indicator.name }} - {{ indicator.description }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No results found.</p>
{% endif %}


{% for indicator in indicators %}
<div class="indicator-entry">
    <h3>{{ indicator.title }}</h3>
    <img src="{{ indicator.indicator_photo.url }}" alt="{{ indicator.title }}" draggable="false"
         class="protected-image">
    <p>{{ indicator.indicator_text|truncatewords:100 }}</p>
    <a href="{% url 'indicator_detail' indicator.id %}">Batafsil o'qish</a>
</div>
{% endfor %}

{% endblock %}

<style>
    img.protected-image {
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>

<script>
    document.addEventListener('contextmenu', function(e) {
        if (e.target.tagName === 'IMG') {
            e.preventDefault();
        }
    }, false);
</script>
