{% extends 'base_mobile.html' %}

{% block content %}
{% load i18n %}

<style>
    .crypto-info {
        display: flex;
        max-width: 937px;
        flex-direction: column;
        overflow: hidden;
    }

.section-title {
      font-weight: 300;
      font-size: 28px;
      margin-top: -195px;
      margin-bottom: 160px;
      text-align: center;
}

@media (max-width: 991px) {
    .section-title {
        max-width: 100%;
    }
}

</style>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet">

<h1 class="section-title">{% blocktrans %}Ma'lumotlar{% endblocktrans %}</h1>
<section class="crypto-info">
    <h1 style="margin-top: 60px; font-family: 'Roboto', sans-serif; font-weight: semibold; font-size: 25px;">
        {{ information.title }}</h1>
    <p style="font-family: 'Roboto', sans-serif; font-weight: semi-bold; font-size: 20px;">
        {{ information.info_text }}</p>
    <a href="{% url 'mobile_informations' %}">{% blocktrans %}Orqaga qaytish{% endblocktrans %}</a>

</section>
{% endblock %}
