{% extends 'base_mobile.html' %}

{% block content %}
{% load i18n %}

<style>
    .lessons-container {
      display: flex;
      max-width: 901px;
      flex-direction: column;
      overflow: hidden;
      align-items: start;
    }

    .lessons-title {
          font-weight: 300;
          font-size: 28px;
          margin-top: -195px;
          margin-bottom: 200px;
          text-align: center;
    }

    .image-gallery {
      align-self: stretch;
      margin-top: 0;
      width: 100%;
    }

    .image-row {
      gap: 20px;
      display: flex;
    }

    .image-column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
    }

    .gallery-image {
      aspect-ratio: 1.68;
      object-fit: contain;
      object-position: center;
      width: 100%;
      border-radius: 15px;
      flex-grow: 1;
    }

    .pattern-description {
      color: #fff;
      align-self: stretch;
      margin-top: 5px;
      width: 100%;
      font: 500 20px/30px Roboto, sans-serif;
    }

    .description-underline {
      border-radius: 5px;
      background-color: #fff;
      width: 512px;
      max-width: 100%;
      height: 5px;
      margin-top: 18px;
    }

    @media (max-width: 991px) {
      .lessons-title,
      .image-gallery,
      .pattern-description {
        max-width: 100%;
      }

      .recommended-section {
        white-space: initial;
      }

      .image-row {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }

      .image-column {
        width: 100%;
        margin-left: 0;
      }

      .gallery-image {
        margin-top: 10px;
      }
    }

    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }

    .description-underline {
      border-radius: 5px;
      background-color: #fff;
      width: 512px;
      max-width: 100%;
      height: 5px;
      margin-top: 18px;
    }
</style>
<h1 class="lessons-title">{% blocktrans %}Darsliklar va Pattern turlari{% endblocktrans %}</h1>

<section class="lessons-container">
    {% for lesson in lessons %}
        <div class="image-gallery">
        <div class="image-row">
            <div class="image-column">
                <img src="{{ lesson.lesson_photo_1.url }}"
                     class="gallery-image" alt="{{ lesson.title }}" loading="lazy">
            </div>
            <div class="image-column">
                <img src="{{ lesson.lesson_photo_2.url }}"
                     class="gallery-image" alt="{{ lesson.title }}" loading="lazy">
            </div>
        </div>
    </div>
    <p class="pattern-description">{{ lesson.lesson_text|truncatewords:20 }}</p>
    <a href="{% url 'mobile_lesson_detail' lesson.id %}">{% blocktrans %}Batafsil o'qish{% endblocktrans %}</a>
    <div class="description-underline"></div>
    {% endfor %}
</section>
{% endblock %}