{% extends 'base_mobile.html' %}

{% block content %}
{% load i18n %}
<style>
    .news-container { display: flex; max-width: 908px; flex-direction: column; overflow: hidden; }
    .news-header { align-self: start; display: flex; gap: 6px; font-family: Poppins, sans-serif; color: #fff; }
    .news-title {
          font-weight: 300;
          font-size: 28px;
          margin-top: -195px;
          margin-bottom: 160px;
          text-align: center;
    }
    .news-underline { border-radius: 5px; background-color: #fff; width: 177px; height: 5px; }
    .news-subtitle { font-size: 30px; font-weight: 400; text-align: center; margin-top: 7px; }
    .news-icon { aspect-ratio: 1; object-fit: contain; object-position: center; width: 45px; align-self: end; margin-top: 75px; }

    .news-content {
        display: flex;
        margin-top: 15px;
        gap: 15px;
        color: #000;
        line-height: 16px;
    }

    .news-article {
        border-radius: 10px;
        background-color: #fff;
        align-self: start;
        display: flex;
        margin-top: 8px;
        gap: 6px;
        flex-grow: 1;
        flex-basis: auto;
        padding : 0;
    }

    .news-image {
        object-fit: contain;
        object-position: center;
        border-radius: 10px;
        max-width: 55%;
        height: auto;
    }

    .news-text {
        color: #000;
        font: 400 12px Roboto,
        sans-serif;
        margin: 0;
        max-width: 45%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        align-self: center;
    }

    @media (max-width: 991px) {
      .news-header { white-space: initial; }
      .news-title-wrapper { white-space: initial; }
      .news-title { margin-right: 9px; }
      .news-icon { margin-top: 40px; }
      .news-content { max-width: 100%; margin-top: 40px; }
      .news-article {
        flex-direction: row;
        align-items: stretch;
        gap: 20px;
      }
      .news-image-wrapper, .news-text-wrapper { width: 40% 60%; }
      .news-image { margin-top: 0; }
      .news-text { max-width: 100%; margin-top: 0; }
    }

</style>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
<h1 class="news-title">{% blocktrans %}Yangiliklar{% endblocktrans %}</h1>

<section class="news-container">
    {% for item in news %}
    <article class="news-content">
        <div class="news-article">
                <img src="{{ item.news_photo.url }}" class="news-image" alt="{{ item.news_title }}"/>
                <p class="news-text">{{ item.news_text }}</p>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}