{% extends 'base_mobile.html' %}

{% block content %}
{% load i18n %}
<style>
    .news-container { display: flex; max-width: 908px; flex-direction: column; overflow: hidden; }
    .news-header { align-self: start; display: flex; gap: 6px; font-family: Poppins, sans-serif; color: #fff; }
    .news-title {
          font-weight: 300;
          font-size: 28px;
          margin-top: -195px;
          margin-bottom: 160px;
          text-align: center;
    }
    .news-underline { border-radius: 5px; background-color: #fff; width: 177px; height: 5px; }
    .news-subtitle { font-size: 30px; font-weight: 400; text-align: center; margin-top: 7px; }
    .news-icon { aspect-ratio: 1; object-fit: contain; object-position: center; width: 45px; align-self: end; margin-top: 75px; }
    .news-content { border-radius: 10px; background-color: #fff; margin-top: 50px; }
    .news-article { display: flex; gap: 20px; padding: 5px;}
    .news-image-wrapper { width: 32%; }
    .news-image { aspect-ratio: 1.86; object-fit: contain; object-position: center; width: 100%; border-radius: 10px; margin-left: 0px; padding-left: 0px}
    .news-text-wrapper { width: 68%; }
    .news-text { color: #000; align-self: stretch; margin: auto 0; font: 400 15px/21px Roboto, sans-serif; }

    @media (max-width: 991px) {
      .news-header { white-space: initial; }
      .news-title-wrapper { white-space: initial; }
      .news-title { margin-right: 9px; }
      .news-icon { margin-top: 40px; }
      .news-content { max-width: 100%; margin-top: 40px; }
      .news-article { flex-direction: column; align-items: stretch; gap: 0; }
      .news-image-wrapper, .news-text-wrapper { width: 100%; }
      .news-image { margin-top: 18px; }
      .news-text { max-width: 100%; margin-top: 40px; }
    }
</style>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
<h1 class="news-title">{% blocktrans %}Yangiliklar{% endblocktrans %}</h1>

<section class="news-container">
    {% for item in news %}
    <article class="news-content">
        <div class="news-article">
            <div class="news-image-wrapper">
                <img src="{{ item.news_photo.url }}" class="news-image" alt="{{ item.news_title }}"/>
            </div>
            <div class="news-text-wrapper">
                <p class="news-text">{{ item.news_text }}</p>
            </div>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
