{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            window.location.href = '{% url "mobile_note_details" pk=note.pk %}';
        }
    });
</script>
<h1>{{ note.title }}</h1>
<p>{{ note.content }}</p>
<p>Yaratilgan vaqt: {{ note.created_at }}</p>
<p>Tahrirlangan vaqt: {{ note.updated_at }}</p>
<a href="{% url 'note_edit' note.pk %}">Zametkani tahrirlash</a>
<form action="{% url 'note_delete' note.pk %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Zametkani o'chirish</button>
</form>
{% endblock %}
