{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            window.location.href = '{% url "mobile_note_delete" pk=note.pk %}';
        }
    });
</script>
<style>
    .btn {
        height: 50px;
        border-radius: 20px;
        background-color: #fb8b5d;
        color: white;
        font-size: 18px;
        padding: 5px;
        border: none;
        cursor: pointer;
        text-align: center;
        display: flex; /* Enable flexbox to center text vertically */
        justify-content: center; /* Center text horizontally */
        align-items: center; /* Center text vertically */
        text-decoration: none;
        margin-bottom: 50px;
    }
</style>
<h1>{% blocktrans %}O'chirishni tasdiqlash{% endblocktrans %}</h1>
<p>{% blocktrans %}Siz rostan ham o'chirmoqchimisiz ?{% endblocktrans %}</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn">{% blocktrans %}Ha, o'chirilsin{% endblocktrans %}</button>
    <a href="{% url 'note_list' %}">{% blocktrans %}Orqaga{% endblocktrans %}</a>
</form>
{% endblock %}
