{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            window.location.href = '{% url "mobile_note_details" pk=note.pk %}';
        }
    });
</script>
<h1>{{ note.title }}</h1>
<p>{{ note.content }}</p>
<p>{% blocktrans %}Yaratilgan vaqt:{% endblocktrans %} {{ note.created_at }}</p>
<p>{% blocktrans %}Tahrirlangan vaqt:{% endblocktrans %} {{ note.updated_at }}</p>
<a href="{% url 'note_edit' note.pk %}">{% blocktrans %}Zametkani tahrirlash{% endblocktrans %}</a>
<a href="{% url 'note_delete' note.pk %}">{% blocktrans %}Zametkani o'chirish{% endblocktrans %}</a>
{% endblock %}
