<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CryptoIndex{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'landing_page' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
