<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CryptoIndex{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'landing_page' %}">Home</a></li>
            <li><a href="{% url 'video_lessons' %}">Video darslar</a></li>
            <li><a href="{% url 'analyses' %}">Tex-Analizlar</a></li>
            <li><a href="{% url 'information' %}">Ma'lumotlar</a></li>
            <li><a href="{% url 'birja' %}">Birjalar bilan ishlash</a></li>
            <li><a href="{% url 'advice' %}">Maslahatlar</a></li>
            <li><a href="{% url 'signal' %}">Signallar</a></li>
            <li><a href="{% url 'news' %}">Yangiliklar</a></li>
            <li><a href="{% url 'lessons' %}">Darsliklar</a></li>
            <li><a href="{% url 'books' %}">Kitoblar</a></li>
            <li><a href="{% url 'note_list' %}">Zametkalar</a></li>
            <li><a href="{% url 'indicators' %}">Indikatorlar</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
