{% extends 'base.html' %}

{% block content %}
<div class="fear-greed-index-box">
    <img src="{{ fear_greed_index_image.image.url }}" alt="Fear & Greed Index">
</div>

<div class="buttons-container">
    <a href="#" class="button">Biz bilan aloqa</a>
    <a href="#" class="button">Padpiska muddati</a>
    <a href="#" class="button">Sizning faolligingiz</a>
</div>

<div class="padpiska-turlari">
    <a href="#" class="subscription-plan">
        <img src="media/main/home/tekin_padpiska.png" alt="Tekin Plan">
    </a>
    <a href="#" class="subscription-plan">
        <img src="media/main/home/standart_padpiska.png" alt="Standart Plan">
    </a>
    <a href="#" class="subscription-plan">
        <img src="media/main/home/pro_padpiska.png" alt="Pro Plan">
    </a>
</div>

<div class="analiz-qiling">
    <a href="https://tradingview.com">
        <img src="media/main/home/tradingview.png" alt="TradingView">
    </a>
    <a href="https://cryptobubbles.net/">
        <img src="media/main/home/cryptobubles.png" alt="Crypto Bubbles">
    </a>
</div>
{% endblock %}


.fear-greed-index-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #4a4a4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.padpiska-turlari,
.analiz-qiling {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

.padpiska-turlari {
    margin-right: 4%;
}

.subscription-plan img,
.analiz-qiling img {
    width: 100%;
    border-radius: 10px;
}