{% extends 'base.html' %}

{% block content %}
<!-- Insert the HTML from your screenshot here -->
<div class="padpiska-turlari">
    <a href="#" class="subscription-plan">
        <img src="media/main/home/tekin_padpiska.png" alt="Tekin Plan">
    </a>
    <a href="#" class="subscription-plan">
        <img src="media/main/home/standart_padpiska.png" alt="Standart Plan">
    </a>
    <a href="#" class="subscription-plan">
        <img src="media/main/home/pro_padpiska.png" alt="Pro Plan">
    </a>
</div>

<div class="analiz-qiling">
    <a href="https://tradingview.com">
        <img src="media/main/home/tradingview.png" alt="TradingView">
    </a>
    <a href="https://cryptobubbles.net/">
        <img src="media/main/home/cryptobubles.png" alt="Crypto Bubbles">
    </a>
</div>
{% endblock %}
