{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load i18n %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            window.location.href = '{% url "mobile_login" %}';
        }
    });
</script>
<h2>{% blocktrans %}Login{% endblocktrans %}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% blocktrans %}Login{% endblocktrans %}</button>
</form>
<p><a href="{% url 'password_reset' %}">{% blocktrans %}Parolni unutdingizmi?{% endblocktrans %}</a></p>
{% endblock %}