{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            // Extract the language code from the URL (e.g., 'ru' or 'uz')
            var pathParts = window.location.pathname.split('/');
            var langCode = pathParts[1];  // Assuming the language is the second part of the path

            // Redirect to the mobile-specific invalid password reset page with the appropriate language
            window.location.href = '/' + langCode + '/users/password_reset_invalid_mobile/';
        }
    });
</script>


<h2>{% blocktrans %}Parolni tiklash{% endblocktrans %}</h2>
<p>{% blocktrans %}Parolni tiklash havolasi yaroqsiz, ehtimol u allaqachon ishlatilgan. Iltimos, yangi parolni tiklashni so'rang.{% endblocktrans %}</p>
{% endblock content %}
