{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            var pathParts = window.location.pathname.split('/');
            var uidb64 = pathParts[4];
            var token = pathParts[5];
            var mobileResetUrl = '/ru/users/mobile/reset/' + uidb64 + '/' + token + '/';
            window.location.href = mobileResetUrl;
        }
    });
</script>

<style>
    .reset-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        max-width: 437px;
        width: 100%;
        padding:0;
        color: #fff;
        font-family: 'Lato', sans-serif;
        text-align: left;
    }

    .reset-title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #fff;
    }

    .reset-input {
        width: 100%;
        padding: 12px 20px;
        margin-top: 20px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        background-color: transparent;
        border: 2px solid #fb8b5d;
        border-radius: 30px;
    }

    .reset-input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .reset-button {
        margin-top: 40px;
        padding: 12px 30px;
        font-size: 18px;
        background-color: #fb8b5d;
        color: #fff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .reset-button:hover {
        background-color: #e2794c;
    }

    .password-hint {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 10px;
    }
</style>

<section class="reset-container">
    <h2 class="reset-title">{% blocktrans %}Yangi parolni kiriting{% endblocktrans %}</h2>
    <form method="post">
        {% csrf_token %}
        <label for="new_password1">{% blocktrans %}Yangi parol:{% endblocktrans %}</label>
        <input id="new_password1" name="new_password1" type="password" class="reset-input" required>
        <div class="password-hint">
            {% blocktrans %}Parolingiz quyidagi talablarni bajarishi kerak:{% endblocktrans %}
            <ul>
                <li>{% blocktrans %}Parolingiz boshqa shaxsiy ma'lumotlaringizga o'xshash bo'lmasligi kerak.{% endblocktrans %}</li>
                <li>{% blocktrans %}Parolingiz kamida 8 ta belgidan iborat bo'lishi kerak.{% endblocktrans %}</li>
                <li>{% blocktrans %}Parolingiz keng tarqalgan parol bo'lmasligi kerak.{% endblocktrans %}</li>
                <li>{% blocktrans %}Parolingiz faqat raqamlardan iborat bo'lmasligi kerak.{% endblocktrans %}</li>
            </ul>
        </div>
        <label for="new_password2">{% blocktrans %}Yangi parolni tasdiqlash:{% endblocktrans %}</label>
        <input id="new_password2" name="new_password2" type="password" class="reset-input" required>
        <button type="submit" class="reset-button">{% blocktrans %}Parolni o'zgartirish{% endblocktrans %}</button>
    </form>
</section>
{% endblock %}
