{% extends 'base_mobile.html' %}
{% load i18n %}
{% block content %}

<style>
    .notes-title {
        font-weight: 300;
        font-size: 28px;
        margin-top: -195px;
        margin-bottom: 180px;
        text-align: center;
    }
</style>
<h2 class="notes-title">{% blocktrans %}Parolni tiklash{% endblocktrans %}</h2>
<p>{% blocktrans %}Parolni tiklash havolasi yaroqsiz, ehtimol u allaqachon ishlatilgan. Iltimos, yangi parolni tiklashni so'rang.{% endblocktrans %}</p>

{% endblock content %}
