{% extends 'base_mobile.html' %}
{% load i18n %}
{% block content %}
<style>
    .notes-title {
        font-weight: 300;
        font-size: 28px;
        margin-top: -195px;
        margin-bottom: 180px;
        text-align: center;
    }

    .reset-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 437px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .reset-input {
        width: 80%;
        padding: 12px 20px;
        margin: 20px 0;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
        background-color: #fff;
        border: 2px solid #fb8b5d;
        border-radius: 30px;
        box-sizing: border-box;
    }

    .reset-button {
        padding: 12px 30px;
        font-size: 18px;
        background-color: #fb8b5d;
        color: #fff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .reset-button:hover {
        background-color: #e2794c;
    }
</style>

<section class="reset-container">
    <h2 class="notes-title">{% blocktrans %}Parolni tiklash{% endblocktrans %}</h2>
    <form method="post">
        {% csrf_token %}
        <input id="email" name="email" type="email" placeholder="{% blocktrans %}Foydalanuvchi email{% endblocktrans %}" class="reset-input" required>
        <button type="submit" class="reset-button">{% blocktrans %}Parolni tiklash{% endblocktrans %}</button>
    </form>
</section>
{% endblock %}
