{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            var pathParts = window.location.pathname.split('/');
            var uidb64 = pathParts[4];
            var token = pathParts[5];
            var mobileResetUrl = '/ru/users/mobile/reset/' + uidb64 + '/' + token + '/';
            window.location.href = mobileResetUrl;
        }
    });
</script>


<h2>Yangi parolni kiriting</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Parolni o'zgartirish</button>
</form>
{% endblock content %}