{% extends 'base.html' %}
{% load i18n %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            window.location.href = '{% url "mobile_password_reset" %}';
        }
    });
</script>

{% block content %}
<style>
    .reset-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        max-width: 437px;
        width: 100%;
        padding: 0;
        color: #fff;
        font-family: 'Lato', sans-serif;
        text-align: left;
    }

    .reset-title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #fff;
    }

    .reset-input {
        width: 100%;
        padding: 12px 20px;
        margin-top: 20px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        background-color: transparent;
        border: 2px solid #fb8b5d;
        border-radius: 30px;
        box-sizing: border-box;
    }

    .reset-input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .reset-button {
        margin-top: 40px;
        padding: 12px 30px;
        font-size: 18px;
        background-color: #fb8b5d;
        color: #fff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .reset-button:hover {
        background-color: #e2794c;
    }
</style>

<section class="reset-container">
    <h2 class="reset-title">{% blocktrans %}Parolni tiklash{% endblocktrans %}</h2>
    <form method="post">
        {% csrf_token %}
        <input id="email" name="email" type="email" placeholder="{% blocktrans %}Foydalanuvchi email{% endblocktrans %}" class="reset-input" required>
        <button type="submit" class="reset-button">{% blocktrans %}Parolni tiklash{% endblocktrans %}</button>
    </form>
</section>
{% endblock %}
