{% extends 'base_mobile.html' %}
{% load i18n %}
{% block content %}

<style>
    .reset-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        color: #fff;
        font-family: 'Lato', sans-serif;
        text-align: left;
        max-width: 437px;
        width: 100%;
        margin: 0 auto;
    }

    .reset-input {
        width: 80%;
        padding: 10px 15px;
        margin-top: 15px;
        margin-left: 15px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        background-color: transparent;
        border: 2px solid #fb8b5d;
        border-radius: 30px;
    }

    .reset-input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .reset-button {
        margin-top: 25px;
        margin-left: 35px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #fb8b5d;
        color: #fff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 80%;
    }

    .reset-button:hover {
        background-color: #e2794c;
    }

    .password-hint {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 10px;
    }

    .notes-title {
        font-weight: 300;
        font-size: 28px;
        margin-top: -195px;
        margin-bottom: 180px;
        text-align: center;
    }

    .form-container {
        width: 100%;
        padding: 10px 0;
        background-color: transparent;
    }


    label {
        font-size: 14px;
        margin-top: 10px;
    }
</style>

<h2 class="notes-title">{% blocktrans %}Yangi Parol{% endblocktrans %}</h2>
<section class="reset-container">
    <form method="post" class="form-container">
        {% csrf_token %}
        <label for="new_password1">{% blocktrans %}Yangi parol:{% endblocktrans %}</label>
        <input id="new_password1" name="new_password1" type="password" class="reset-input" required>
        <div class="password-hint">
            {% blocktrans %}Parolingiz quyidagi talablarni bajarishi kerak:{% endblocktrans %}
            <ul>
                <li>{% blocktrans %}Parolingiz boshqa shaxsiy ma'lumotlaringizga o'xshash bo'lmasligi kerak.{% endblocktrans %}</li>
                <li>{% blocktrans %}Parolingiz kamida 8 ta belgidan iborat bo'lishi kerak.{% endblocktrans %}</li>
                <li>{% blocktrans %}Parolingiz keng tarqalgan parol bo'lmasligi kerak.{% endblocktrans %}</li>
                <li>{% blocktrans %}Parolingiz faqat raqamlardan iborat bo'lmasligi kerak.{% endblocktrans %}</li>
            </ul>
        </div>
        <label for="new_password2">{% blocktrans %}Yangi parolni tasdiqlash:{% endblocktrans %}</label>
        <input id="new_password2" name="new_password2" type="password" class="reset-input" required>
        <button type="submit" class="reset-button">{% blocktrans %}Parolni o'zgartirish{% endblocktrans %}</button>
    </form>
</section>

{% endblock %}
