{% extends 'base_mobile.html' %}
{% load i18n %}

{% block title %}Profile{% endblock %}

{% block content %}
<style>
    .notes-title {
        font-weight: 300;
        font-size: 28px;
        margin-top: -195px;
        margin-bottom: 180px;
        text-align: center;
    }
</style>

{% if user.is_authenticated %}
<h2 class="notes-title">Profil</h2>

<h1>{{ user.username }}'s Profile</h1>

{% if user.profile_pic %}
<img src="{{ user.profile_pic.url }}" alt="{{ user.username }}'s Profile Picture"
     style="max-width: 150px; max-height: 150px;">
{% else %}
<p>No profile picture available.</p>
{% endif %}

<p>Email: {{ user.email }}</p>
<p>Name: {{ user.name }} {{ user.surname }}</p>
<p>ID: {{ user_id }}</p>

{% if premium_user %}
<h2>Subscription Details</h2>
<p>Premium Type: {{ premium_user.premium_type }}</p>
<p>Subscription Start: {{ premium_user.subscription_start }}</p>
<p>Subscription End: {{ premium_user.subscription_end }}</p>
{% else %}
<p>You are currently a normal user.</p>
{% endif %}

<p><a href="{% url 'update_profile' %}">Edit Profile</a></p>

<li>
    {% url 'logout' as logout_url %}
    <a href="{{ logout_url }}">
        <span class="material-icons">logout</span>{% trans "Chiqish" %}
    </a>
</li>

{% else %}
<p><a href="{% url 'mobile_login' %}" style="color:#FFFFFF; text-decoration:none;">{% trans "Login" %}</a></p>
{% endif %}

{% endblock %}
