{% extends 'base.html' %}
{% load i18n %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.innerWidth < 768) {
            window.location.href = '{% url "mobile_profile" %}';
        }
    });
</script>

{% block title %}Profile{% endblock %}

{% block content %}
<h1>{{ user.username }}</h1>

{% if user.profile_pic %}
<img src="{{ user.profile_pic.url }}" alt="{{ user.username }}'s Profile Picture"
     style="max-width: 150px; max-height: 150px;">
{% else %}
<p>{% blocktrans %}Hech qanday profil rasmi mavjud emas.{% endblocktrans %}</p>
{% endif %}
<p>{%blocktrans %}Email:{% endblocktrans %} {{ user.email }}</p>
<p>{% blocktrans %}Name:{% endblocktrans %} {{ user.name }} {{ user.surname }}</p>
<p>ID: {{ user_id }}</p>

{% if premium_user %}
<h2>{% blocktrans %}Obuna tafsilotlari{% endblocktrans %}</h2>
<p>{% blocktrans %}Premium turi:{% endblocktrans %} {{ premium_user.premium_type }}</p>
<p>{% blocktrans %}Obuna boshlandi:{% endblocktrans %} {{ premium_user.subscription_start }}</p>
<p>{% blocktrans %}Obuna tugaydi:{% endblocktrans %} {{ premium_user.subscription_end }}</p>
{% else %}
<p>{% blocktrans %}Siz hozir normal foydalanuvchisiz.{% endblocktrans %}</p>
<p><a href="{% url 'update_profile' %}">{% blocktrans %}Profilni tahrirlash{% endblocktrans %}</a></p>

{% if user.is_authenticated %}
<li>
    {% url 'logout' as logout_url %}
    <a href="{{ logout_url }}">
        <span class="material-icons">logout</span>{% blocktrans %}Chiqish{% endblocktrans %}
    </a>
</li>
{% endif %}

{% endif %}
{% endblock %}
